google-generativeai>=0.7.2
python-dotenv>=1.0.1
regex>=2024.5.15
fastapi
uvicorn
python-multipart
pypdf
python-docx
slowapi
passlib[bcrypt]
bcrypt==3.2.2
python-jose[cryptography]
sqlalchemy
email-validator
psycopg2-binary
